{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Art Web</title>
	<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static '/css/global.css' %}" rel="stylesheet">
	<link href="{% static '/css/product.css' %}" rel="stylesheet">
	<link href="{% static '/https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap' %}" rel="stylesheet">
	<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

  <!-- code for share -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<section id="header">
<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
  <div class="container-xl">
    <a class="navbar-brand fs-2 p-0 fw-bold text-white" href="{% static '/index.html' %}"><a href="#"><img src="{% static '/img/logo.png' %}" width="50" height="50" alt="abc"></a><!--<i class="fa fa-pencil col_pink me-1 align-middle"></i> art --><span class="col_pink span_1" >MODERN</span><br><span class="font_12 span_2">ART GALLERY</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 ms-auto">
	    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html">Home</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="about.html">About </a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="exhibition.html"> Exhibitions</a></li>
            <li><a class="dropdown-item border-0" href="competition.html">competitions</a></li>
          </ul>
        </li>
		
		<!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
            <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
          </ul>
        </li>-->
		<li class="nav-item">
			<a class="nav-link" href="blog.html">Blog </a>
		  </li>
      <li class="nav-item">
			<a class="nav-link" href="auction.html">Auction </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contact.html">Contact </a>
		  </li>
		
		<!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="cart.html"> Shopping Cart</a></li>
            <li><a class="dropdown-item border-0" href="checkout.html"> Checkout</a></li>
          </ul>
        </li>-->

		<!--<li class="nav-item">
			<a class="nav-link" href="Events.html">Events </a>
		  </li>-->

		  <!--<li class="nav-item">
			<a class="nav-link" href="artstore.html">Art Store </a>
		  </li>-->
				
		<li class="nav-item dropdown">
    {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle btn btn-primary d-flex align-items-center justify-content-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            <p class="m-0">{{ user.username }}</p>
        </a>

        <div class="dropdown-menu" aria-labelledby="userDropdown">
            {% if user.user_type == 'user' %}
                <a class="dropdown-item" href="{% url 'userprofile' %}">View Profile</a>
            {% elif user.user_type == 'artist' %}
                <a class="dropdown-item" href="{% url 'artistprofile' %}">View Profile</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary ml-lg-3">Login/Register</a>
    {% endif %}
</li>
		  <!--<li class="nav-item">
			<a class="nav-link" href="register.html">Register</a>
		  </li>-->
        </li>
		
      </ul>
    </div>
  </div>
</nav>
</section>

<section id="center" class="center_o bg_gray pt-2 pb-2">
 <div class="container-xl">
  <div class="row center_o1">
   <div class="col-md-5">
     <div class="center_o1l">
	  <h2 class="mb-0">EXHIBITION</h2>
	 </div>
   </div>
   <div class="col-md-7">
     <div class="center_o1r text-end">
	  <h6 class="mb-0"><a href="#">Home</a> <span class="me-2 ms-2"><i class="fa fa-caret-right"></i></span> Product</h6>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="product" class="p_4">
 <div class="container-xl">
  <div class="row product_1">
   <div class="col-md-9">
     <!--<div class="product_1l">
      <p class="mb-0 mt-2">Showing 1-12 of 23 results</p>
	 </div>-->
   </div>
   <!--<div class="col-md-3">
     <div class="product_1r">
        <select name="categories" class="form-select bg_gray col_light" required="">
			<option value="">Default Sorting</option>
			<option>Pencil Drawing</option>
			<option>Oil Painting</option>
			<option>Watercolor Painting</option>
			<option>Acrylic Painting</option>
			<option>Pastel Drawing</option>
			<option>Landscape Painting</option>
			</select>
	 </div>-->
   </div>
  </div>
  
<div class="row product-container">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="product-card">
                        <a href="{% url 'product_details' product.id %}">
                            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-fluid" oncontextmenu="return false;">
                        </a>
                        <h4>{{ product.product_name }}</h4>
                        <p>Price: Rs.{{ product.price }}</p>
                        <p>{{ product.get_status_display }}</p>
                        <p>Artist: {{ product.author.username }}</p>

                        <a href="#" class="btn-like">
    <i class="fas fa-heart"></i> Like
</a>&nbsp;&nbsp;
        
        <!-- Share Button -->
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn-share">
    <i class="fab fa-facebook-f"></i>
</a>
<a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ product.product_name }}" target="_blank" class="btn-share">
    <i class="fab fa-twitter"></i>
</a>
<a href="mailto:?subject={{ product.product_name }}&body=Check out this product: {{ request.build_absolute_uri }}" class="btn-share">
    <i class="fas fa-envelope"></i>
</a>
<a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank" class="btn-share">
    <i class="fab fa-instagram"></i>
</a>



                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

  







   </div>
   <div class="row footer_2 mt-4 text-center">
    <div class="col-md-12">
	 <ul>
	  <li class="d-inline-block me-3 font_14"><a href="#">CONTACT</a></li>
	  <li class="d-inline-block me-3 font_14"><a href="#">PRIVACY POLICY</a></li>
	  <li class="d-inline-block me-3 font_14"><a href="#">TERMS OF USE</a></li>
	  <li class="d-inline-block font_14"><a href="#">FAQ</a></li>
	 </ul>
	 <p class="mb-0">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_pink" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	</div>
   </div>
 </div>
</section>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>